<style>
footer {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: white;
}
</style>

<footer>
    <p>&copy; 2025 Gadget Tracker. All rights reserved.</p>
  </footer>
  </body>
  </html>
  